---
layout: default
title: Home
image: codeFocus.jpg
---
<header class="header__plain">
  <div class="header__title">
    <h1 class="header__main-title"><em>Russell Chapman</em></h1>
    <p class="header__sub-title">{{ page.title }}</p>
  </div>
</header>
<link rel="import" href="{{ '/assets/components/perspective-card.html' | prepend: site.baseurl }}"></link>
<div class="home">
  <section class="featured">
    {% for post in paginator.posts %}
    <a href="{{ post.url | prepend: site.url }}">
      {% if post.image == null %}
      <perspective-card class="featured__item">
      {% else %}
      <perspective-card class="featured__item" parallax-image="{{ '/assets/images/' | prepend: site.url | append: post.image }}">
      {% endif %}
        <header class="header__plain">
          <section class="header__title">
            <h3 class="header__main-title"><em>{{ post.title }}</em></h3>
            <section class="header__sub-title">{{ post.sub-title }}</section>
          </section>
          <time class="header__date">{{ post.date | date: "%b %d, %Y" }}</time>
        </header>
      </perspective-card>
    </a>
    {% endfor %}
    {% include pagination.html %}
  </section>
</div>
{% include footer.html %}
