<html>
<script>
window.customElements.define('js-ascii', class extends window.HTMLElement {
  constructor () {
    super()
    this.image = new window.Image()
    this.canvas = document.createElement('canvas')
    this.context = this.canvas.getContext('2d')
    this.characterList = this._generateCharacters()
  }

  get characters () { return this.getAttribute('characters') || '' }
  set characters (value) { this.setAttribute('characters', value) }
  get fontFamily () { return this.getAttribute('fontfamily') || 'monospace' }
  set fontFamily (value) { this.setAttribute('fontfamily', value) }
  get fontSize () { return parseInt(this.getAttribute('fontsize') || 16) }
  set fontSize (value) { this.setAttribute('fontsize', value) }
  get scale () { return parseFloat(this.getAttribute('scale') || 1.0) }
  set scale (value) { this.setAttribute('scale', value) }
  get src () { return this.getAttribute('src') || '' }
  set src (value) { this.setAttribute('src', value) }

  static get observedAttributes() {
    return ['characters', 'fontfamily', 'fontsize', 'scale', 'src']
  }

  attributeChangedCallback(attr, oldValue, newValue) {
    switch (attr) {
      case 'characters':
        this.characterList = this._generateCharacters(newValue)
        break
      case 'src':
        this.image.src = newValue
        break
      default:
        break
    }
  }

  connectedCallback () {
    this.image.addEventListener('load', this._convertImage.bind(this))
  }

  disconnectedCallback () {
    this.image.removeEventListener('load', this._convertImage)
  }

  _convertImage () {
    // set-up canvas size/scale & draw image
    this.canvas.width = (this.image.width * this.scale)
    this.canvas.height = this.image.height * this.scale
    this.context.drawImage(this.image, 0, 0, this.canvas.width, this.canvas.height)
    this.context.font = `${this.fontSize}px ${this.fontFamily}`
    this.context.textAlign = 'center'
    this.centerY = this.fontSize * 0.75
    this.centerX = this.fontSize * 0.35

    for (let y = 0; y < this.canvas.height; y += this.fontHeight) {
      for (let x = 0; x < this.canvas.width; x += this.fontWidth) {
        // generate imageData (cell.width x cell.height)
        let imageData = this.context.getImageData(x, y, this.fontWidth, this.fontHeight).data

        // find matching character from imageData average (lightness)
        let character = this._getMatchingCharacter(imageData)

        // lower opacity on darker characters
        // if (character.average.lightness < 64) {
        //   character.average.a = (character.average.lightness + 1) / 255
        // }

        this.context.clearRect(x, y, this.fontWidth, this.fontHeight)
        this.context.fillStyle = 'rgba(0,0,0,.25)'
        this.context.fillRect(x, y, this.fontWidth, this.fontHeight)
        this.context.fillStyle = `rgba(${character.average.r}, ${character.average.g}, ${character.average.b}, ${character.average.a})`
        this.context.fillText(character.character, x + this.centerX, y + this.centerY)
      }
    }

    this.appendChild(this.canvas)
  }

  // returns array of { character, average } objects
  _generateCharacters (characterString = '') {
    let characters = []

    if (characterString === '') {
      for (let count = 32; count < 127; count++) {
        characters.push(String.fromCharCode(count))
      }
    } else {
      characters = characterString.split('')
    }

    this.fontHeight = this.fontSize
    this.fontWidth = this.fontSize * 0.75
    this.centerY = this.fontSize * 0.75
    this.centerX = this.fontSize * 0.35
    this.canvas.height = this.fontHeight
    this.canvas.width = this.fontWidth
    this.context.font = `${this.fontSize}px ${this.fontFamily}`
    this.context.textAlign = 'center'

    characters.forEach((character) => {
      let average = this._getCharacterAverage(character)
      if (average) {
        characters.push({
          character: character,
          average: average
        })
      }
    })

    return characters
  }

  // returns average lightness/rgba for a single character
  _getCharacterAverage (character) {
    this.context.clearRect(0, 0, this.canvas.width, this.canvas.height)
    this.context.fillStyle = 'white'
    this.context.fillText(character, this.centerX, this.centerY)

    let imageData = this.context.getImageData(0, 0, this.canvas.width, this.canvas.height).data
    let average = this._getImageDataAverage(imageData)

    // magic # tweak for effect
    average.lightness *= 1.8

    return average
  }

  // returns average lightness/rgba for an imageData
  _getImageDataAverage (imageData) {
    let pixelCount = imageData.length / 4
    let average = {
      lightness: 0,
      r: 0,
      g: 0,
      b: 0,
      a: 0
    }

    // running average for this imageData
    for (let i = 0; i < imageData.length; i += 4) {
      average.lightness += (imageData[i] + imageData[i + 1] + imageData[i + 2] + imageData[i + 3]) / 4
      average.r += imageData[i]
      average.g += imageData[i + 1]
      average.b += imageData[i + 2]
      average.a += imageData[i + 3]
    }

    average.lightness = roundClamp(average.lightness / pixelCount, 255)
    average.r = roundClamp(average.r / pixelCount, 255)
    average.g = roundClamp(average.g / pixelCount, 255)
    average.b = roundClamp(average.b / pixelCount, 255)
    average.a = roundClamp(average.a / pixelCount, 255)

    function roundClamp (value, maxValue) {
      return Math.round(Math.min(value, maxValue))
    }

    return average
  }

  // returns { character, average } object that matches this block best
  _getMatchingCharacter (imageData) {
    let average = this._getImageDataAverage(imageData)
    let min = Infinity
    let best = null

    this.characterList.forEach((character) => {
      if (character.average) {
        let difference = Math.abs(average.lightness - character.average.lightness)
        if (difference < min) {
          min = difference
          best = character
        }
      }
    })

    return {
      character: best.character,
      average: average
    }
  }

})
</script>
</html>
