<html>
<style>
canvas {
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  /*image-rendering: pixelated;*/
  z-index: 0;
}
</style>
<script>
window.customElements.define('canvas-static', class extends window.HTMLElement {
  constructor () {
    super()
    const scale = 8
    const width = scale * 16
    const height = scale * 9
    const htmlStyles = window.getComputedStyle(document.querySelector('html'))
    this.animationSpeed = parseInt(htmlStyles.getPropertyValue('--animation-speed').slice(0, -2))
    this.canvas = document.createElement('canvas')
    this.canvas.width = width
    this.canvas.height = height
    this.context2D = this.canvas.getContext('2d')
    this.buffer = this.context2D.createImageData(this.canvas.width, this.canvas.height)
    this.bufferSize = this.canvas.width * this.canvas.height
    this.appendChild(this.canvas)
    this.running = false
  }

  connectedCallback () {
    this.parentElement.addEventListener('mouseenter', this._mouseenterHandler.bind(this), { passive: true })
    this.parentElement.addEventListener('mouseleave', this._mouseleaveHandler.bind(this), { passive: true })
  }

  disconnectedCallback () {
    this.parentElement.removeEventListener('mouseenter', this._mouseenterHandler)
    this.parentElement.removeEventListener('mouseleave', this._mouseleaveHandler)
  }

  _mouseleaveHandler (event) {
    setTimeout(() => {
      this.running = false
    }, this.animationSpeed * 4)
  }

  _mouseenterHandler (event) {
    this.running = true
    window.requestAnimationFrame(this.update.bind(this))
  }

  update () {
    // Pick random shade for every pixel (0-255)
  	for(let i = 0; i < this.bufferSize; i++) {
  		let c = Math.floor(Math.random() * 255);
  		let index = i * 4;
  		this.buffer.data[index++] = c;
  		this.buffer.data[index++] = c;
  		this.buffer.data[index++] = c;
  		this.buffer.data[index++] = 255;
  	}

    // Flip buffer to canvas
    this.context2D.putImageData(this.buffer, 0, 0)
    if (this.running) {
      window.requestAnimationFrame(this.update.bind(this))
    }
  }
})
</script>
</html>
