<html>
<style>
  canvas {
    height: 100%;
    image-rendering: pixelated;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
</style>
<script>
window.customElements.define('canvas-demo', class extends window.HTMLElement {
  constructor () {
    super()
    const scale = 8
    const htmlStyles = window.getComputedStyle(document.querySelector('html'))
    this.animationSpeed = parseInt(htmlStyles.getPropertyValue('--animation-speed').slice(0, -2))
    this.canvas = document.createElement('canvas')
    this.canvas.width = scale * 16
    this.canvas.height = scale * 9
    this.context2D = this.canvas.getContext('2d')
    this.buffer = this.context2D.createImageData(this.canvas.width, this.canvas.height)
    this.bufferSize = this.canvas.width * this.canvas.height
    this.appendChild(this.canvas)
    this.running = false
  }

  static get observedAttributes() { return ['src'] }
  get src () { return this.getAttribute('src') || 0 }
  set src (value) { this.setAttribute('src', value) }

  attributeChangedCallback(attr, oldValue, newValue) {
    if ('src') {
      this.req = new window.XMLHttpRequest()
      this.req.addEventListener('load', this._loadHandler.bind(this))
      this.req.open('GET', newValue, true)
      this.req.send()
    }
  }

  _loadHandler (event) {
    let response = eval(event.srcElement.responseText)
    this.update = response
  }

  connectedCallback () {
    this.parentElement.addEventListener('mouseenter', this._mouseenterHandler.bind(this), { passive: true })
    this.parentElement.addEventListener('mouseleave', this._mouseleaveHandler.bind(this), { passive: true })
  }

  disconnectedCallback () {
    this.parentElement.removeEventListener('mouseenter', this._mouseenterHandler)
    this.parentElement.removeEventListener('mouseleave', this._mouseleaveHandler)
  }

  _mouseenterHandler (event) {
    this.running = true
    window.requestAnimationFrame(this.update.bind(this))
  }

  _mouseleaveHandler (event) {
    setTimeout(() => {
      this.running = false
    }, this.animationSpeed * 4)
  }
})
</script>
</html>
