<html>
  <template id="time-line-template">
    <style>
      :host {}
    </style>
  </template>

  <template id="time-line-item-template">
    <style>
      :host {}
    </style>
    <slot name="content"></slot>
  </template>

  <script>
    customElements.define("time-line", class extends HTMLElement {
      constructor() {
        super();
        this.importDoc = document.currentScript.ownerDocument;
        this.template = this.importDoc.querySelector("#time-line-template");
        this.shadow = this.attachShadow({ mode: "open" });
        this.shadow.appendChild(this.template.content.cloneNode(true));
      }
      /*static get observedAttributes() {
        return [ "", "", "" ];
      }
      attributeChangedCallback(attr, oldValue, newValue) {
        console.log(attr, oldValue, newValue);
      }*/
    });

    customElements.define("time-line-item", class extends HTMLElement {
      constructor() {
        // Always call super first in constructor
        super();

        // Create a shadow root
        this.shadow = this.attachShadow({ mode: "open" });

        this.importDoc = document.currentScript.ownerDocument;
        this.template = this.importDoc.querySelector("#time-line-item-template");

        this.time = document.createElement("time");
        this.time.innerHTML = this.getAttribute("data-time");
        this.template.content.appendChild(this.time);
        this.shadow.appendChild(this.template.content);
      }
      static get observedAttributes() {
        return [ "data-time" ];
      }
      attributeChangedCallback(attr, oldValue, newValue) {
        if (attr === "data-time") {
          this.time.innerHTML = newValue;
          //console.log(attr, oldValue, newValue);
        }
        this.shadow.appendChild(this.template.content);
      }
    });
  </script>
</html>
