<section class="comments">
  <ul class="comments__list">
    {%- for result in site.data.comments[page.slug] -%}
      {%- assign comment = result[1] -%}
      <li class="comment">
        <header class="comment__header">
          <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ comment.email }}?default=mm"/>
          <time class="comment__time" datetime="{{ comment.date }}">{{ comment.date | date_to_string }}</time>
          <span class="comment__name">{{ comment.name }}</span>
        </header>
        <section class="comment__body">
          <span class="comment__text">{{ comment.message }}</span>
          <button value="Reply"/>
        </section>
      </li>
    {%- endfor  -%}
  </ul>
  <form method="POST" action="https://api.staticman.net/v2/entry/{{ site.github_username }}/{{ site.github_repository }}/{{ site.github_branch }}/comments" class="comments__form">
    <h3>Comment</h3>
    <!-- <input name="options[redirect]" type="hidden" value="{{ page.url }}"> -->
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <input name="options[category]" type="hidden" value="{{ page.category }}">
    <input name="fields[name]" type="text" placeholder="Name" class="comments__form--name">
    <input name="fields[email]" type="email" placeholder="E-mail" class="comments__form--email">
    <textarea name="fields[message]" placeholder="Message" class="comments__form--message"></textarea>
    <input type="submit" value="Submit" class="comments__form--submit">
  </form>
</section>
