<form method="POST" action="https://api.staticman.net/v2/entry/{{ site.github_username }}/{{ site.github_repository }}/{{ site.github_branch }}/comments" class="comments__form">
  <h3>Comment</h3>
  <!-- <input name="options[redirect]" type="hidden" value="{{ page.url }}"> -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <input name="options[category]" type="hidden" value="{{ page.category }}">
  <input name="fields[name]" type="text" placeholder="Name" class="comments__form--name">
  <input name="fields[email]" type="email" placeholder="E-mail" class="comments__form--email">
  <textarea name="fields[text]" placeholder="Message" class="comments__form--message"></textarea>
  <input name="fields[message]" type="hidden" value="Staticman always inserts a blank value here, but other field names work">
  <input type="submit" value="Submit" class="comments__form--submit">
</form>
