<section class="comment_area">
  <div class="comment_wrapper">
    {% if site.discus_identifier %}
    <div id="disqus_thread" class="article-comments"></div>
    <script>
      (function() {
        var script = document.createElement("script");
        script.src = "{{ site.discus_identifier }}.disqus.com/embed.js";
        script.setAttribute("data-timestamp", + new Date());
        (document.head || document.body).appendChild(script);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
  </div>
</section>
