<head>
  <!DOCTYPE html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="preconnect" href="https://fonts.googleapis.com/" crossorigin>
  <link rel="preload" href="https://fonts.gstatic.com/s/sarpanch/v3/hESy6Xt4NCpRuk6Pzi2HTos.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.gstatic.com/s/sarpanch/v3/hES16Xt4NCpRuk6PziUEaZ7Y3nA.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.gstatic.com/s/sharetechmono/v7/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="https://fonts.gstatic.com/s/teko/v7/LYjNdG7kmE0gfaN9pQ.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
  <script defer src="/assets/javascript/vendor/page/page.js"></script>
  <script defer src="/assets/javascript/main.js"></script>
  {%- feed_meta -%}
  {%- seo -%}
</head>
