<nav class="navigation navigation--hidden">
  <button class="navigation__button navigation__button--close" aria-label="Close Navigation"><i class="fa fa-times"></i></button>
  <section class="navigation__categories">
    <h4>Categories</h4>
    <a class="navigation__link" href="{{ site.baseurl }}/">Home</a>
    <a class="navigation__link" href="{{ site.baseurl }}/posts/article/">Articles</a>
    <a class="navigation__link" href="{{ site.baseurl }}/posts/demo/">Demos</a>
    <a class="navigation__link" href="{{ site.baseurl }}/posts/news/">News</a>
    <a class="navigation__link" href="{{ site.baseurl }}/posts/about/">About</a>
  </section>
</nav>
<nav class="navigation__overlay">
  <button class="navigation__button navigation__button--open" aria-label="Open Navigation">
    <i class="fa fa-bars"></i>
  </button>
  <button class="navigation__button navigation__button--update navigation--hidden" aria-label="Updates Available">
    <i class="fa fa-refresh"></i>
  </button>
  <button class="navigation__button navigation__button--top" aria-label="Scroll to top">
    <i class="fa fa-chevron-up"></i>
  </button>
</nav>
