<input id="hidden-checkbox" class="navigation-menu__checkbox" type="checkbox"/>
<label for="hidden-checkbox" class="navigation-menu__label"><a class="navigation-menu__button"><i class="fa fa-bars navigation-menu__icon"></i></a></label>
<nav class="navigation-menu">
  <a class="navigation-menu__link" href="{{ site.url }}/"><i class="fa fa-home navigation-menu__icon"></i><span>Home</span></a>
  <a class="navigation-menu__link" href="{{ site.url }}/contact.html"><i class="fa fa-envelope-o navigation-menu__icon"></i><span>Contact</span></a>
  <a class="navigation-menu__link" href="{{ site.url }}/settings.html"><i class="fa fa-cog navigation-menu__icon"></i><span>Settings</span></a>
  <a class="navigation-menu__link" href="{{ site.url }}/about/"><i class="fa fa-question navigation-menu__icon"></i><span>About</span></a>
</nav>
<section class="top-button">
  <a id="top-button" class="navigation-menu__button"><i class="fa fa-chevron-up navigation-menu__icon"></i></a>
</section>
