<nav class="navigation navigation--hidden">
  <button class="navigation__button navigation__button--close"><i class="fa fa-times"></i></button>
  <section class="navigation__categories">
    <h4>Categories</h4>
    <a class="navigation__link" href="/">Home</a>
    <a class="navigation__link" href="/posts/demo/">Demo</a>
    <a class="navigation__link" href="/posts/news/">News</a>
    <a class="navigation__link" href="/posts/about/">About</a>
  </section>
</nav>
<nav class="navigation__overlay">
  <button class="navigation__button navigation__button--open">
    <i class="fa fa-bars"></i>
  </button>
  <button class="navigation__button navigation__button--top">
    <i class="fa fa-chevron-up"></i>
  </button>
</nav>
