<!--<section class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}"><i class="fa fa-chevron-left"></i></a>
  {% endif %}

  {% if paginator.page == 1 %}
    <a class="active">1</a>
  {% else %}
    <a href="/posts.html">1</a>
  {% endif %}

  {% for count in (2..paginator.total_pages) %}
    {% if count == paginator.page %}
      <a class="active">{{ count }}</a>
    {% else %}
      <a href="/page{{ count }}">{{ count }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}"><i class="fa fa-chevron-right"></i></a>
  {% endif %}
</section>
-->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}"><i class="fa fa-chevron-left"></i></a>
  {% endif %}

  <!--<span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>-->
  {% for count in (1..paginator.total_pages) %}
    {% if count == paginator.page %}
      <a class="active">{{ count }}</a>
    {% else %}
      <a href="/page{{ count }}">{{ count }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}"><i class="fa fa-chevron-right"></i></a>
  {% endif %}
</div>
