// Defaults for fallbacks
$default-hue: 200;
$default-saturation: 75%;
$default-lightness: 36%;
$default-shades: 10;

// CSS custom properties/variables
:root {
  --nav-width: 10rem;
  --animation-speed: 200ms;
  --hue: #{$default-hue};
  --lightness: #{$default-lightness};
  --saturation: #{$default-saturation};

  // Loops to enumerate light & dark shades, this saves tons of typing
  --color-primary: hsl(var(--hue), var(--saturation), var(--lightness));
  --color-secondary: hsl(calc(var(--hue) + 180), var(--saturation), var(--lightness));
  @for $i from 1 through $default-shades {
    --color-primary-light#{$i}: hsl(var(--hue), var(--saturation), calc(var(--lightness) + #{$i*10}%));
    --color-primary-dark#{$i}: hsl(var(--hue), var(--saturation), calc(var(--lightness) - #{$i*10}%));
    --color-secondary-light#{$i}: hsl(calc(var(--hue) + 180), var(--saturation), calc(var(--lightness) + #{$i*10}%));
    --color-secondary-dark#{$i}: hsl(calc(var(--hue) + 180), var(--saturation), calc(var(--lightness) - #{$i*10}%));
  }
}
