$breakpoints: (
  "phone":        400px,
  "phone-wide":   480px,
  "tablet":       768px,
  "tablet-wide":  1024px,
  "desktop":      1280px,
  "desktop-wide": 1440px
) !default;

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin hardware($backface: true, $perspective: 1000) {
    @if $backface {
        backface-visibility: hidden;
    }
    perspective: $perspective;
}
