---
---
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
//@import "reset";
@import "mixins";
@import "font-awesome-4.7.0/scss/font-awesome.scss";

$color-red: #970808;
$color-blue: #0F2965;
$color-green: #067806;
$color-yellow: #976708;

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  //font-family: "Press Start 2P";
  line-height: 1.5;
  font-size: 60%;
  @include mq("phone-wide") {
    font-size: 80%
  }
  @include mq("tablet") {
    font-size: 100%;
  }
  @include mq("tablet-wide") {
    font-size: 110%
  }
  @include mq("desktop") {
    font-size: 120%;
  }
  @include mq("desktop-wide") {
    font-size: 130%;
  }
}
body {
  margin: 0;
  color: white;
  background-color: darken(gray, 45%);
}
a {
  color: $color-green;
  text-decoration: none;
  text-shadow: 2px 2px darken($color-green, 20%);
  &:hover, &:active {
    color: lighten($color-green, 40%);
    text-shadow: 2px 2px darken($color-green, 10%);
  }
}
nav {
  text-align: center;
  border-bottom: 4px solid $color-green;
  a {
    padding: 0.25rem;
    display: inline-block;
  }
}
header {
  img {
    width: 100%;
  }
}
p {
  //margin: 0.5rem;
  text-shadow: 2px 2px darken($color-green, 10%);
}
blockquote {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: darken(gray, 38%);
  border-left: 8px solid darken(complement($color-green), 5%);
  p {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    line-height: 2rem;
    text-shadow: 2px 2px darken(complement($color-green), 10%);
  }
}
footer {
  padding: 1rem;
  text-align: center;
  border-top: 4px solid $color-green;
}

.author {
  font-size: 8px;
  text-shadow: 2px 2px darken(complement($color-green), 10%);
  img {
    width: 80px;
    height: 80px;
    image-rendering: pixelated;
    box-shadow: 2px 2px 2px darken(gray, 70%);
  }
}
.book {
  width: 10vw;
  margin: 1vw;
  background-color: darken(gray, 38%);
  box-shadow: 2px 2px 2px darken(gray, 70%);
}
.showcase {
  overflow: hidden;
  @include mq("phone-wide") {
    display: flex;
    align-items: center;
  }
}
.showcase__content {
  padding: 1rem;
  @include mq("phone-wide") {
    flex: 1;
  }
}
.showcase__image {
  width: 100%;
  padding: 1rem;
  @include mq("phone-wide") {
    width: 50%;
    float: left;
  }
}
.featured {
  @include row;
  article {
    @include col(1);
    //margin: 1rem;
    background-color: darken(gray, 38%);
    box-shadow: 2px 2px 2px darken(gray, 70%);
    img {
      width: 100%;
    }
    @include mq("phone-wide") {
      @include col(2);
    }
    @include mq("tablet") {
      @include col(3);
    }
    @include mq("tablet-wide") {
      @include col(4);
    }
    @include mq("desktop") {
      @include col(5);
    }
    @include mq("desktop-wide") {
      @include col(6);
    }
  }
}
/*
table {
margin: 0 auto;
border-spacing: 0;
border-collapse: collapse;
border: 2px solid $darker;
}
th {
padding: 2px;
border: 2px solid $darker;
}
td {
padding: 2px;
border: 1px solid $dark;
}
*/
