.article {
  // https://medium.freecodecamp.org/how-to-recreate-mediums-article-layout-with-css-grid-b4608792bad1
  // @include media-query('laptop-s') { grid-template-columns: 1rem 1rem 1fr 1rem 1rem; }

  display: grid;
  grid-template-columns: 2rem 1fr 2rem;

  > * {
    // @include media-query('laptop-s') { grid-column: 3; }
    grid-column: 2;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p {
    margin-bottom: .5rem;
    margin-top: .5rem;
  }

  p {
    &::first-letter {
      font-size: 1.25rem;
      margin-left: .25rem;
    }
  }

  blockquote {
    background-color: var(--color-primary-darker);
    border-left: .4vw solid var(--color-primary);
    box-shadow: .25rem .25rem 1rem var(--color-primary-darkest);
    font-size: 1.125rem;
    line-height: 1.125rem;
    margin: 1rem 0;
    padding: 1rem;
    text-shadow: 1px 1px 2px var(--color-primary-darkest);
  }

  cite {
    display: block;
    font-size: .75rem;
    margin-top: .5rem;
    text-align: right;
  }

  .full {
    grid-column: 1 / -1;
    height: calc(9rem + 9vw);
    position: relative;
    width: 100%;
  }

  .mid {
    grid-column: 2 / -2;
    // height: calc(9rem + 9vw);
    // position: relative;
    width: 100%;
  }

  .canvasDemo {
    box-shadow: .25rem .25rem 1rem var(--color-primary-darkest);
    height: 56.25vw;
    image-rendering: pixelated;
  }

  .controls {
    margin: auto;
    width: 75%;

    thead {
      border-bottom: 1px solid var(--color-secondary);
      color: var(--color-primary-light);
    }

    tbody {
      color: var(--color-primary-lighter);
      font-size: .75rem;
    }

    tr {
      &:nth-child(even) {
        background-color: var(--color-primary-darker);
      }
    }

    th {
      // padding-right: .5rem;
      // text-align: right;
      text-align: center;
      width: 50%;
    }

    td {
      // padding-left: .5rem;
      // text-align: left;
      text-align: center;
      width: 50%;
    }

  }

  // @at-root #{&}__footer {
  //   align-items: center;
  //   border-bottom: 2px solid var(--color-primary-dark);
  //   border-top: 2px solid var(--color-primary-dark);
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-around;
  //   padding: 1rem;
  // }

  // @at-root #{&}__author-avatar {
  //   height: 12rem;
  //   width: 12rem;
  //
  //   // gravatar class is .avatar by default (No BEM ;P)
  //   .avatar {
  //     box-shadow: .25rem .25rem 1rem var(--color-primary-dark);
  //     height: 100%;
  //     image-rendering: pixelated;
  //     width: 100%;
  //   }
  // }

  // @at-root #{&}__author-name {
  //   font-family: 'Sarpanch';
  //   font-size: 1.25rem;
  //   font-style: italic;
  //   padding-bottom: .5rem;
  //   padding-top: .5rem;
  //   text-align: center;
  // }

  // @at-root #{&}__author-description {
  //   border-bottom: 2px solid var(--color-secondary);
  //   border-top: 2px solid var(--color-secondary);
  //   padding-bottom: .5rem;
  //   padding-top: .5rem;
  //   width: 12rem;
  //
  //   @at-root #{&}__tags {
  //     padding-top: .5rem;
  //
  //     a {
  //       padding-left: .2rem;
  //     }
  //   }
  //
  //   @at-root #{&}__share {
  //     a {
  //       padding-left: .2rem;
  //     }
  //   }
  // }
}
