.featured-items {
  margin-top: 2rem;
  margin-bottom: 2rem;
  perspective: 100vw;

  // Responsive CSS grid
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 1fr;  // mobile-s
  @include mediaQuery("mobile-m") { grid-template-columns: 1fr; }
  @include mediaQuery("mobile-l") { grid-template-columns: 1fr; }
  @include mediaQuery("tablet") { grid-template-columns: repeat(2, 1fr); }
  @include mediaQuery("laptop-s") { grid-template-columns: repeat(2, 1fr); }
  @include mediaQuery("laptop-m") { grid-template-columns: repeat(3, 1fr); }
  @include mediaQuery("laptop-l") { grid-template-columns: repeat(3, 1fr); }
  @include mediaQuery("4k") { grid-template-columns: repeat(3, 1fr); }

  @at-root #{&}__3DCard {
    width: 16rem;
    height: 9rem;
    justify-self: center;
    background-repeat: no-repeat;
    background-position: calc(50% + var(--x-pos, 0) * 1%) calc(50% + var(--y-pos, 0) * 1%);
    @include prefix((transition: all var(--animation-speed) ease-out), webkit moz ms o);
    @include prefix((transform: rotateY(calc(var(--x-offset) * 30deg)) rotateX(calc(var(--y-offset) * -30deg))), webkit moz ms o);
    box-shadow: 0px 0px 2rem var(--color-primary-dark5);

    &:hover .header__main-title {
      color: var(--color-primary-light4);
      text-shadow: 0px 1px 2px var(--color-primary-dark5), 0 0 4px var(--color-primary-light3);
    }
    &:hover .header__sub-title {
      color: var(--color-primary-light3);
      text-shadow: 0px 1px 2px var(--color-primary-dark5), 0 0 4px var(--color-primary-light2);
    }
    &:hover .header__date {
      color: var(--color-primary-light3);
      text-shadow: 0px 1px 2px var(--color-primary-dark5), 0 0 4px var(--color-primary-light2);
    }

    // gradient overlay
    &::before {
      content: "";
      width: 16rem;
      height: 9rem;
      opacity: 0.5;
      z-index: 0;
      position: absolute;
      background-image:
        linear-gradient(
          180deg,
          var(--color-primary-dark1) 0%,
          hsla(var(--hue), var(--saturation), var(--lightness), 0.5) 50%,
          var(--color-primary-dark2) 100%
        );
    }
  }
}
