.featured {
  @include media-query('mobile-s') {
    grid-template-columns: repeat(1, 1fr);
  }
  @include media-query('mobile-m') {
    grid-template-columns: repeat(1, 1fr);
  }
  @include media-query('mobile-l') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-query('tablet') {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-query('laptop-s') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-query('laptop-m') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-query('laptop-l') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-query('4k') {
    grid-template-columns: repeat(4, 1fr);
  }

  align-items: center;
  display: grid;
  grid-gap: 1rem;
  // overflow: hidden;
  transform-style: preserve-3d;
  will-change: transform;

  @at-root #{&}__item {
    @include prefix((transform: none), webkit moz ms o);
    @include prefix((transition: transform var(--animation-speed) ease-out), webkit moz ms o);

    height: 0;
    padding-top: 56.25%;
    will-change: transform;

    > header {
      @include prefix((transform: none), webkit moz ms o);
      @include prefix((transition: transform calc(var(--animation-speed) / 2) ease-out), webkit moz ms o);

      height: 100%;
      margin: 0 .8rem;
      padding: .25rem 0;
      transform-style: preserve-3d;
      will-change: transform;
      z-index: 1;

      > time {
        @include media-query('mobile-s') {
          font-size: 1.2rem;
          line-height: 1.2rem;
        }
        @include media-query('mobile-l') {
          font-size: .8rem;
          line-height: .8rem;
        }
        @include media-query('tablet') {
          font-size: .7rem;
          line-height: .7rem;
        }

        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: .2rem;
      }
    }

    &:hover > header {
      @include prefix((transform: translate3d(0, 0, 1rem)), webkit moz ms o);
    }
  }
}
