.header {
  transform-style: preserve-3d;

  @at-root #{&}__plain {
    height: 100%;
    display: flex;
    text-align: right;
    flex-direction: column;
    //align-items: flex-end;          // align items in Cross Axis
    //align-content: stretch;         // extra space in Cross Axis
    justify-content: space-between; // align items in Main Axis
    font-size: 0.75rem;
  }
  @at-root #{&}__title {
    margin-right: 1.25rem;
    margin-top: 0.5rem;
    text-align: right;
  }
  @at-root #{&}__title--main {
    font-style: italic;
    color: var(--color-primary-light8);
    text-shadow: 2px 2px 2px var(--color-primary-dark5);
    @include prefix((transform: translateZ(0)), webkit moz ms o);
  }
  @at-root #{&}__title--sub {
    font-style: italic;
    color: var(--color-primary-light7);
    text-shadow: 2px 2px 2px var(--color-primary-dark5);
    @include prefix((transform: translateZ(0)), webkit moz ms o);
  }
  @at-root #{&}__date {
    margin-right: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary-light6);
    text-shadow: 2px 2px 2px var(--color-primary-dark5);
    @include prefix((transform: translateZ(0)), webkit moz ms o);
  }

  @at-root #{&}__parallax {
    height: 60vh;
    display: flex;
    font-size: 1.2rem;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;

    // mobile-s
    background-size: 125vh 100vh;
    @include mediaQuery("mobile-m") { background-size: 175vh 100vh; }
    @include mediaQuery("mobile-l") { background-size: 200vh 100vh; }
    @include mediaQuery("tablet") { background-size: 225vh 100vh; }
    @include mediaQuery("laptop") { background-size: 275vh 100vh; }
    @include mediaQuery("laptop-l") { background-size: 325vh 100vh; }
    @include mediaQuery("4k") { background-size: 375vh 100vh; }

    background-repeat: no-repeat;
    background-position: center top;
    @include prefix((transition: background-position var(--animation-speed) ease-out), webkit moz ms o);

    // gradient overlay
    &::before {
      content: "";
      left: 0;
      width: 100%;
      height: 60vh;
      opacity: 0.25;
      position: absolute;
      background: linear-gradient(135deg, var(--color-primary-dark1) 0%, var(--color-secondary-dark3) 100%);
    }
  }
}
