html {
  /// https://aykevl.nl/2014/09/fix-jumping-scrollbar
  // increase margin-right by negative scrollbar width
  margin-right: calc(-calc(100vw - 100%) + 1rem);
}

body {
  background: linear-gradient(-135deg, var(--color-primary-dark) 0%, var(--color-primary-darker) 100%);
  color: var(--color-primary-lighter);
  min-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-primary-lightest);
  text-shadow: 2px 2px 2px var(--color-primary-darkest);
}

main {
  background: linear-gradient(135deg, var(--color-primary-dark) 0%, var(--color-primary-darker) 100%);
  min-height: 75vh;
  overflow: hidden;
  padding: .75rem;
  perspective: 25rem;
  transform-style: preserve-3d;
}

a {
  color: var(--color-primary-light);
  text-shadow: 2px 2px 2px var(--color-primary-darkest);

  &.disabled {
    color: var(--color-primary-darker);
    cursor: default;
    pointer-events: none;
    text-shadow: 0 0 8px var(--color-primary-darkest), 2px 2px 2px var(--color-primary-darkest);
  }

  &:active,
  &:hover {
    color: var(--color-primary-lighter);
    text-shadow: 0 0 8px var(--color-primary-light), 2px 2px 2px var(--color-primary-darkest);
  }
}
