.navigation-button {
  background: none;
  border: 0;
  color: var(--color-primary-light);
  cursor: pointer;
  font-size: 1.5rem;
  text-shadow: 1px 1px 1px var(--color-primary-darkest);
  width: 2rem;

  &:active,
  &:hover {
    color: var(--color-primary-lighter);
    text-shadow: 1px 1px 1px var(--color-primary-dark), 0 0 8px var(--color-primary-light);
  }
}

.navigation-button__top {
  @extend .navigation-button;
  bottom: 0;
  margin-right: .5rem;
  position: fixed;
  right: 0;
  z-index: 99;
}

.navigation-button__open {
  @extend .navigation-button;
  height: 2rem;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}

.navigation-button__close {
  @extend .navigation-button;
  padding: 1rem;
  text-align: right;
}

.navigation-menu {
  @include prefix((transition: transform var(--animation-speed) ease-out), webkit moz ms o);

  background: radial-gradient(hsla(var(--color-primary-hue), var(--color-primary-saturation), var(--color-primary-lightness), 0) 0%, var(--color-primary-darkest) 80%);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: calc(100% + var(--nav-width));
  z-index: 100;

  @at-root #{&}__show {
    @include prefix((transform: none), webkit moz ms o);
    opacity: 1;
  }

  @at-root #{&}__hide {
    @include prefix((transform: translate3d(calc(var(--nav-width) * -1), 0, 0)), webkit moz ms o);
    opacity: 0;
    pointer-events: none;
  }

  @at-root #{&}__link {
    @extend .navigation-button;
    border: 1px solid rgba(0, 0, 0, 0); // fixes vertical shifting on hover
    display: flex;
    justify-content: flex-start;
    padding: .5rem;
    text-decoration: none;
    width: var(--nav-width);

    &:active,
    &:hover {
      background: hsla(var(--color-primary-hue), var(--color-primary-saturation), 25%, .5);
      border: 1px solid hsla(var(--color-primary-hue), var(--color-primary-saturation), 50%, .5);
    }

    span {
      padding-top: .4rem;
    }
  }

  @at-root #{&}__icon {
    margin-right: 1rem;
    text-align: right;
    width: 2rem;
  }
}
