a {
  text-decoration: none;
  color: var(--color-primary-light1);
  text-shadow: 2px 2px 2px var(--color-primary-dark5);
  &.disabled {
    color: var(--color-primary-dark2);
    text-shadow: 2px 2px 2px var(--color-primary-dark5);
    pointer-events: none;
    cursor: default;
  }
  &:active, &:hover {
    color: var(--color-primary-light3);
    text-shadow: 2px 2px 2px var(--color-primary-dark5), 0px 0px 2px var(--color-primary-light2);
  }
}

.top-button {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  bottom: 0rem;
  right: 0rem;
  z-index: 100;
  position: fixed;
  cursor: pointer;

  // fallback without custom properties, without gradient, & full gradient
  background: hsl($default-hue, $default-saturation, $default-lightness);
  background: var(--color-primary-dark3, hsl($default-hue, $default-saturation, $default-lightness));
  background: linear-gradient(135deg, var(--color-primary-dark3) 0%, var(--color-primary-dark5) 100%);
  @include prefix((border-radius: 25% 0 0 0), webkit moz ms o);

  opacity: 0.4;
  &:active, &:hover {
    opacity: 0.6;
  }
}

.navigation-menu {
  width: var(--nav-width);
  height: 100%;
  top: 0;
  z-index: 99;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  // fallback without custom properties, without gradient, & full gradient
  background: hsl($default-hue, $default-saturation, $default-lightness);
  background: var(--color-primary, hsl($default-hue, $default-saturation, $default-lightness));
  background: linear-gradient(90deg, var(--color-primary-dark6) 0%, hsla(var(--hue), var(--saturation), var(--lightness), 0) 100%);
  @include prefix((transition: transform var(--animation-speed) ease-out), webkit moz ms o);
  @include prefix((transform: translate3d(calc(var(--nav-width) * -1), 0, 0)), webkit moz ms o);

  @at-root #{&}__link {
    padding: 0.25rem;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(127, 127, 127, 0); // hack to fix border on hover

    &:first-child {
      margin-top: 2rem;
    }
    &:active, &:hover {
      background: hsla(var(--hue), var(--saturation), 50%, 0.1);
      border: 1px solid hsla(var(--hue), var(--saturation), 50%, 0.2);
    }
  }
  @at-root #{&}__icon {
    width: 1.5rem;
    padding-right: 0.5rem;
    text-align: right;
  }
  @at-root #{&}__label {
    width: 1.5rem;
    height: 1.5rem;
    top: 0rem;
    left: 0rem;
    z-index: 100;
    padding: 0.15rem;
    position: fixed;
    cursor: pointer;

    // fallback without custom properties, without gradient, & full gradient
    background: hsl($default-hue, $default-saturation, $default-lightness);
    background: var(--color-primary-dark3, hsl($default-hue, $default-saturation, $default-lightness));
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-primary-dark3) 100%);
    @include prefix((border-radius: 0 0 25% 0), webkit moz ms o);

    opacity: 0.4;
    &:active, &:hover {
      opacity: 0.6;
    }
  }
  @at-root #{&}__checkbox {
    display: none;
  }
  @at-root #{&}__checkbox:checked ~ nav {
    @include prefix((transform: translate3d(0, 0, 0)), webkit moz ms o);
  }
}

.pagination {
  display: flex;
  justify-content: center;

  a {
    margin: 1rem;
  }
}
