a {
  text-decoration: none;
  color: var(--color-primary-light1);
  text-shadow: 0px 0px 8px var(--color-primary-dark5);
  &:active, &:hover {
    color: var(--color-primary-light4);
    text-shadow: 0px 0px 8px var(--color-primary-dark5), 0 0 8px var(--color-primary-light2);
  }
}

.top-button {
  position: fixed;
  cursor: pointer;
  bottom: 0rem;
  right: 0rem;
  width: 2rem;
  height: 2rem;
  z-index: 100;
  padding: 0.25rem;
  font-size: 1.5rem;
  background: hsl($default-hue, $default-saturation, $default-lightness); // fallback
  background: var(--color-primary-dark2, hsl($default-hue, $default-saturation, $default-lightness)); // fallback
  background: linear-gradient(-45deg, hsla(var(--hue), var(--saturation), var(--lightness), 0.5) 0%, var(--color-primary-dark2) 100%);
  @include prefix((border-radius: 50% 0 0 0), webkit moz ms o);
}

.navigation-menu {
  position: fixed;
  width: var(--nav-width);
  height: 100%;
  z-index: 99;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: hsl($default-hue, $default-saturation, $default-lightness); // fallback
  background: var(--color-primary-dark3, hsl($default-hue, $default-saturation, $default-lightness)); // fallback
  background: linear-gradient(90deg, var(--color-primary-dark3) 0%, hsla(var(--hue), var(--saturation), var(--lightness), 0) 100%);
  @include prefix((transition: all var(--animation-speed) ease-out), webkit moz ms o);
  @include prefix((transform: translate3d(calc(var(--nav-width) * -1), 0, 0)), webkit moz ms o);

  @at-root #{&}__link {
    &:first-child {
      margin-top: 2.1rem;
    }
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgba(127, 127, 127, 0);
    @include prefix((transition: all var(--animation-speed) ease-out), webkit moz ms o);

    &:active, &:hover {
      background: hsla(var(--hue), var(--saturation), 50%, 0.1);
      border: 1px solid hsla(var(--hue), var(--saturation), 50%, 0.2);
    }
  }
  @at-root #{&}__icon {
    width: 1.5rem;
    padding-right: 0.5rem;
    text-align: right;
  }
  @at-root #{&}__label {
    top: 0rem;
    left: 0rem;
    width: 2rem;
    height: 2rem;
    z-index: 100;
    padding: 0.25rem;
    font-size: 1.5rem;
    position: fixed;
    cursor: pointer;
    background: hsl($default-hue, $default-saturation, $default-lightness); // fallback
    background: var(--color-primary-dark3, hsl($default-hue, $default-saturation, $default-lightness)); // fallback
    background: linear-gradient(-45deg, hsla(var(--hue), var(--saturation), var(--lightness), 0.5) 0%, var(--color-primary-dark3) 100%);
    @include prefix((border-radius: 0 0 50% 0), webkit moz ms o);
  }
  @at-root #{&}__button {
  }
  @at-root #{&}__checkbox {
    display: none;
  }
  @at-root #{&}__checkbox:checked ~ nav {
    @include prefix((transform: translate3d(0, 0, 0)), webkit moz ms o);
  }
}

.pagination {
  display: flex;
  justify-content: center;

  a {
    margin: 1rem;
  }
}
