.hidden {
  opacity: 0;
}

.about {
  @include media-query('mobile-m') { grid-template-columns: repeat(3, 1fr); }
  @include media-query('tablet') { grid-template-columns: repeat(5, 1fr); }
  @include media-query('laptop-m') { grid-template-columns: repeat(7, 1fr); }

  align-items: center;
  display: grid;
  grid-gap: calc(1rem + 1vw);

  // Responsive grid
  grid-template-columns: repeat(2, 1fr);  // mobile-s

  @at-root #{&}__book {
    height: 0;
    padding-top: 56.25%;
  }
}

.code-stats {
  margin: 6rem auto;
  text-align: right;
  width: 90%;

  table {
    margin-bottom: 1rem;
    width: 100%;
  }

  thead {
    border-bottom: 1px solid var(--color-secondary);
    color: var(--color-primary-light);
    font-size: .6rem;
  }

  tbody {
    color: var(--color-primary-lighter);
    font-style: italic;
  }

  tfoot {
    border-top: 1px solid var(--color-secondary);
    color: var(--color-primary-lightest);
    font-weight: bold;
  }

  td {
    width: 4rem;

    &:nth-child(1) {
      width: 6rem;
    }
  }
}

.alternate {
  display: table;
  margin: auto;
  text-shadow: 2px 2px 2px var(--color-primary-dark);

  @at-root #{&}__green {
    color: lighten(green, 25%);
  }

  @at-root #{&}__purple {
    color: lighten(purple, 25%);
  }
}

.canvas {
  @at-root #{&}__demo {
    display: block;
    height: 18rem;
    margin-left: auto;
    margin-right: auto;
    width: 32rem;
  }
}

.universe {
  left: 0;
  // min-height: 75vh;
  overflow: hidden;
  perspective: 20vw;
  top: 0;
  transform-style: preserve-3d;
}

.star {
  background: var(--color-secondary-light);
  border-radius: 50%;
  box-shadow: 0 0 8px var(--color-secondary);
  height: 8px;
  // position: absolute;
  transform-style: preserve-3d;
  width: 8px;
}
