body {
  min-height: 100vh;
  overflow-x: hidden;
  color: hsl($default-hue, $default-saturation, 90%);
  color: var(--color-primary-light9);
  text-shadow: 1px 1px 1px var(--color-primary-dark5);

  // fallback without custom properties, without gradient, & full gradient
  background: hsl($default-hue, $default-saturation, $default-lightness);
  background: var(--color-primary-dark3, hsl($default-hue, $default-saturation, $default-lightness));
  background: linear-gradient(135deg, var(--color-primary-dark1) 0%, var(--color-secondary-dark7) 100%);
}

h1, h2, h3, h4, h5, h6 {
  color: hsl($default-hue, $default-saturation, 90%);
  color: var(--color-primary-light9);
  text-shadow: 2px 2px 2px var(--color-primary-dark5);
}

main {
  padding: 1rem;
  min-height: 70vh;
  overflow-x: hidden;

  // fallback without custom properties, without gradient, & full gradient
  background: hsl($default-hue, $default-saturation, $default-lightness);
  background: var(--color-primary-dark3, hsl($default-hue, $default-saturation, $default-lightness));
  background: linear-gradient(135deg, var(--color-primary-dark1) 0%, var(--color-secondary-dark7) 100%);
  box-shadow: 0px 0px 4rem var(--color-primary-dark5);
}

.featured {
  display: grid;
  align-items: center;
  grid-gap: calc(1rem + 1vw);

  // Responsive grid
  grid-template-columns: repeat(1, 1fr);
  @include mediaQuery("mobile-m") { grid-template-columns: repeat(2, 1fr); }
  @include mediaQuery("tablet") { grid-template-columns: repeat(3, 1fr); }

  @at-root #{&}__item {
    //width: 1fr;
    height: 8rem;
  }
  @at-root #{&}__book {
    width: 1.5fr;
    height: 6rem;
  }
}

.about {
  display: grid;
  align-items: center;
  grid-gap: calc(1rem + 1vw);

  // Responsive grid
  grid-template-columns: repeat(2, 1fr);  // mobile-s
  @include mediaQuery("mobile-l") { grid-template-columns: repeat(3, 1fr); }
  @include mediaQuery("tablet") { grid-template-columns: repeat(5, 1fr); }
  @include mediaQuery("laptop-l") { grid-template-columns: repeat(7, 1fr); }
}

.alternate {
  margin: auto;
  display: table;
  text-shadow: 2px 2px 2px var(--color-primary-dark5);
  @at-root #{&}__green {
    color: lighten(green, 25%);
  }
  @at-root #{&}__purple {
    color: lighten(purple, 25%);
  }
}
