.time-line {
  align-items: stretch;
  display: flex;
  flex-direction: column;

  .half {
    @include media-query('mobile-l') { width: 50%; }
    width: 100%;
  }

  .gif {
    @include media-query('mobile-l') { min-height: 16rem; }
    min-height: 32rem;
  }

  @at-root #{&}__item {
    background: linear-gradient(135deg, hsla(0, 0, 0, 0), var(--color-primary-darker));
    display: flex;
    margin: 1rem;
    padding: .2rem;

    &:nth-child(odd) {
      @include media-query('mobile-l') { flex-direction: row; }
      flex-direction: column;

      .half {
        text-align: left;
      }
    }

    &:nth-child(even) {
      @include media-query('mobile-l') { flex-direction: row-reverse; }
      flex-direction: column;

      .half {
        text-align: right;
      }
    }
  }

  @at-root #{&}__header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: .2rem .2rem 1rem var(--color-primary-darkest);
    margin: .1rem;
    min-height: 9rem;
    padding: .5rem;

    h2 {
      color: var(--color-primary-lighest);
      // font-size: .75rem;
      margin: 0;
      text-shadow: 1px 1px 2px var(--color-secondary-darkest), 1px 1px 1rem var(--color-secondary-darkest);
    }

    time {
      color: var(--color-secondary-light);
      text-shadow: 1px 1px 2px var(--color-secondary-darkest), 1px 1px 1rem var(--color-secondary-darkest);
    }
  }

  @at-root #{&}__content {
    @include media-query('mobile-l') { width: 50%; }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    margin: .1rem;
    padding: .5rem;
    width: 100%;

    blockquote {
      font-size: .8rem;
      padding-bottom: 1.25rem;
    }

    cite {
      font-size: .6rem;
      font-style: italic;
      float: right;
    }
  }

  @at-root #{&}__icon {
    background: var(--color-primary-lightest);
    box-shadow: .25rem .25rem 1rem var(--color-primary-darkest);
    height: 2rem;
    margin: .1rem;
    width: 2rem;
  }

  @at-root #{&}__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: .5rem;
  }

  @at-root #{&}__thumb {
    background: var(--color-primary-dark);
    box-shadow: .25rem .25rem 1rem var(--color-primary-darkest);
    height: 3rem;
    margin: .1rem;
    padding: .1rem;
    width: 3rem;
  }

  @at-root #{&}__thumb-alt {
    background: var(--color-primary-lightest);
    box-shadow: .25rem .25rem 1rem var(--color-primary-darkest);
    height: 3rem;
    margin: .1rem;
    padding: .1rem;
    width: 3rem;
  }
}
