.time-line {
  display: grid;
  grid-template-columns: 1fr 1rem 1fr;
  margin: 0;
  overflow: hidden;

  img {
    align-self: center;
    box-shadow: .25rem .25rem 1rem var(--color-primary-darkest);
    height: 9rem;
    width: 16rem;
  }

  @at-root #{&}__divider {
    border-left: 2px solid var(--color-secondary);
    box-shadow: 1px 1px 1px var(--color-secondary-darker);
    grid-column: 2;

    // where does it end?
    grid-row: 1 / span 100;
    height: 100%;
    margin-left: .5rem;
    width: 0;
  }

  @at-root #{&}__item {
    align-self: center;

    &:nth-child(odd) {
      grid-column: 1;
      padding-bottom: 10rem;

      header {
        flex-direction: row;
        margin-left: 1rem;

        time {
          text-align: right;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          text-align: left;
        }
      }

      section {
        a {
          align-self: flex-end;
        }
      }
    }

    &:nth-child(even) {
      grid-column: 3;
      padding-top: 10rem;

      header {
        flex-direction: row-reverse;
        margin-right: 1rem;

        time {
          text-align: left;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          text-align: right;
        }
      }

      section {
        a {
          align-self: flex-start;
        }
      }
    }
  }

  @at-root #{&}__header {
    display: flex;

    time {
      align-self: baseline;
      color: var(--color-secondary);
      flex-grow: 1;
      text-shadow: 1px 1px 2px var(--color-secondary-darkest);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      align-self: baseline;
      color: var(--color-secondary);
      flex-grow: 15;
      font-style: italic;
      text-shadow: 1px 1px 2px var(--color-secondary-darkest);
    }
  }

  @at-root #{&}__details {
    display: flex;
    flex-direction: column;
    // padding-top: 1rem;

    a > img {
      height: 3rem;
      width: 4rem;
    }
  }
}
