@import url("https://fonts.googleapis.com/css?family=Sarpanch:400,900");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css?family=Teko");

:root {
  // Responsive font-size
  // https://olivermak.es/2017/02/fluid-typography/
  font-size: calc(0.850rem + 0.850vw);  // mobile-s
  @include mediaQuery("mobile-m") { font-size: calc(0.875rem + 0.875vw); }
  @include mediaQuery("mobile-l") { font-size: calc(0.900rem + 0.900vw); }
  @include mediaQuery("tablet") { font-size: calc(0.950rem + 0.950vw); }
  @include mediaQuery("laptop-s") { font-size: calc(1.000rem + 1.000vw); }
  @include mediaQuery("laptop-m") { font-size: calc(1.050rem + 1.050vw); }
  @include mediaQuery("laptop-l") { font-size: calc(2.000rem + 2.000vw); }
  @include mediaQuery("4k") { font-size: calc(2.050rem + 2.050vw); }
}

body {
  font-size: 1rem;
  font-family: "Teko";
  line-height: 1.333rem;
}

// Modular type scale http://www.modularscale.com
h1 { font-size: 2.25rem; line-height: 2.25rem; }
h2 { font-size: 1.75rem; line-height: 1.75rem; }
h3 { font-size: 1.50rem; line-height: 1.50rem; }
h4 { font-size: 1.25rem; line-height: 1.25rem; }
h5 { font-size: 1.00rem; line-height: 1.00rem; }
h6 { font-size: 0.75rem; line-height: 0.75rem; }
h1, h2, h3, h4, h5, h6 {
  font-family: "Sarpanch";
}
