.transparent {
  background-color: rgba(32, 32, 32, .1);
}

.shadow {
  box-shadow: .15rem .15rem .15rem rgba(0, 0, 0, .1);
}

.form-inputs {
  @extend .transparent;
  border: 0;
  color: var(--color-primary-lighter);
  font-family: 'Teko';
  font-size: .75rem;
  line-height: .75rem;
  margin: .25rem auto;
  padding: auto .1rem;
}

.comments {
  @at-root #{&}__list {
    list-style: none;
  }

  @at-root #{&}__form {
    @extend .shadow;
    @extend .transparent;
    margin: 2rem auto;
    padding: .25rem;
    width: 75%;

    @at-root #{&}--name {
      @extend .form-inputs;
      @extend .shadow;
      padding: .25rem;
      width: 100%;
    }
    @at-root #{&}--email {
      @extend .form-inputs;
      @extend .shadow;
      padding: .25rem;
      width: 100%;
    }
    @at-root #{&}--message {
      @extend .form-inputs;
      @extend .shadow;
      padding: .25rem;
      height: 6rem;
      width: 100%;
    }
    @at-root #{&}--submit {
      @extend .form-inputs;
      @extend .shadow;
      // float: right;
      padding: .25rem;
    }
  }
}

.comment {
  @extend .shadow;
  @extend .transparent;
  display: flex;
  flex-direction: row;
  margin: .5rem;
  padding: .5rem;

  @at-root #{&}__header {
    width: 3rem;
  }
  @at-root #{&}__body {
    @extend .shadow;
    @extend .transparent;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  @at-root #{&}__name {}
  @at-root #{&}__date {}
  @at-root #{&}__text {
    padding: .25rem;
  }
}
