---
layout: default
---
<section class="featured">
  {%- for category in page.children -%}
  {%- for post in site.categories[category] -%}
  <a class="featured__item" href="{{ post.url }}">
    {%- if post.image -%}
    <img class="image image--lazyload" data-src="/assets/images/{{ post.image }}" alt="alt">
    {%- endif -%}
    <header class="header__plain gradient-overlay">
      <section class="header__title">
        <h3 class="header__title--main">{{ post.title }}</h3>
        <h4 class="header__title--sub">{{ post.sub-title }}</h4>
      </section>
      {%- if post.layout == "post" -%}
      <time class="header__date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%b %d, %Y" }}</time>
      {%- else -%}
      <time class="header__date">Category</time>
      {%- endif -%}
    </header>
  </a>
  {%- endfor -%}
  {%- endfor -%}
</section>
