---
layout: default
---
<article class="article-full">
  <header class="header__parallax" style="background-image: url({{ '/assets/images/' | prepend: site.url | append : page.image }});">
    <div class="header__title">
      <h1 class="header__main-title"><em>{{ page.title }}</em></h1>
      <p class="header__sub-title">{{ page.sub-title }}</p>
    </div>
    <time class="header__date">{{ page.date | date: "%b %d, %Y" }}</time>
  </header>
  {{ content }}
  <footer class="article-full__footer">
    <section class="article-full__author-info">
      {% avatar {{ site.github_username }} %}
      <span class="article-full__author-name">{{ site.author }}</span>
    </section>
    <section class="article-full__author-description">In a world run by large corporations, one man has no choice but to find the master code.</section>
    <section class="article-full__share">
      Share:
      &nbsp;
      <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
      &nbsp;
      <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      &nbsp;
      <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" target="_blank"><i class="fa fa-google">+</i></a>
    </section>
    <section class="article-full__tags">
      Tags:
      &nbsp;
      {% for tag in page.tags %}
      <a href="{{ site.url }}/tags#{{ tag }}" class="tag">{{ tag }}, </a>
      {% endfor %}
    </section>
  </footer>
</article>
<section class="featured-items">
  {% for post in site.posts offset:0 limit:6 %}
    <a class="featured-items__3DCard" href="{{ post.url | prepend: site.url }}" style="background-image: url({{ '/assets/images/' | prepend: site.url | append: post.image }});">
      <header class="header__plain">
        <div class="header__title">
          <h3 class="header__main-title"><em>{{ post.title }}</em></h3>
          <span class="header__sub-title">{{ post.sub-title }}</span>
        </div>
        <time class="header__date">{{ post.date | date: "%b %d, %Y" }}</time>
      </header>
    </a>
  {% endfor %}
</section>
