---
layout: default
---
<article>
  <header class="parallax-header" style="background-image: url({{ '/assets/images/' | prepend: site.url | append : page.image }});">
    <h3 class="parallax-header__title">{{ page.title }}</h3>
    <time class="parallax-header__created">{{ page.date | date: "%b %d, %Y" }}</time>
  </header>
  <main>
    {{ content }}
  </main>
  <footer class="author">
    <section>
      {% avatar {{ site.github_username }} %}
      <span>{{ site.author }}</span>
      <div>In a world run by large corporations, one man has no choice but to find the master code.</div>
      <div>
        Tags:
        &nbsp;
        {% for tag in page.tags %}
        <a href="{{ site.url }}/tags#{{ tag }}" class="tag">{{ tag }}, </a>
        {% endfor %}
      </div>
      <div>
        Share:
        &nbsp;
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
        &nbsp;
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
        &nbsp;
        <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" target="_blank"><i class="fa fa-google">+</i></a>
      </div>
    </section>
  </footer>
</article>
<section class="featured-items">
  {% for post in site.posts offset:0 limit:6 %}
  <article class="card3D featured-items__article-summary" style="background-image: url({{ '/assets/images/' | prepend: site.url | append: post.image }});">
    <a href="{{ post.url | prepend: site.url }}">
      <h4>{{ post.title }}</h4>
      <time>{{ post.date | date: "%b %d, %Y" }}</time>
    </a>
  </article>
  {% endfor %}
</section>
