---
layout: post
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <title>{{ site.title }} by {{ site.owner_name }}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>{{ page.title }}</h1>
        <p class="meta">{{ page.date | date_to_string }}</p>
        <section id="downloads">
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>
    <div class="container">
      <section class="post">
        {{ content }}
      </section>
    </div>
  </body>
</html>
